<a href="https://colab.research.google.com/github/Dhanunjaya23-02-2006/Python-Ml/blob/main/Day_6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
average_salary = df['Salary'].mean()
print("\nAverage Salary of Employees:", average_salary)
older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)

First 2 rows of the DataFrame:
    Name  Age  Salary
0  Alice   24   50000
1    Bob   30   60000

Average Salary of Employees: 56000.0

Employees older than 25:
    Name  Age  Salary   Bonus
1    Bob   30   60000  6000.0
3  David   28   55000  5500.0
4    Eve   35   70000  7000.0